html, body , #root{
  margin: 0;
  padding: 0;
  overflow-y: auto;
  min-height: 100%;
  overscroll-behavior-y: none;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
}

.app-wrapper {
  width: 100%;
  overflow-y: visible; 
}

.items {
  width: 100%;
  position: relative;
}